.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: #4cdbc4;
}

h1, h2, h3, h4, h5 {
  font-family: 'Bowlby One SC', cursive;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  h1, h2 {
    font-size: 5vw;
  }
  h3, h4 {
    font-size: 4vw;
  }
  h5 {
    font-size: 3vw;
  }
  .sidebarStyle {
    margin-top: 20px;
  }
}

.mb-5, .my-5 {
  margin-bottom: 1rem!important;
}

.iconsStyle {
  color: grey;
  margin-right: 5px;
}

.contentStyle {
  margin-top: '30px'
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
